/********** Classes Auxiliares *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 2%;
    max-width: 1280px;
}
.clear{clear: both;}
html,body{
    height: 100%;
}
body{
    background-color: #2c3e50;
}
.title-box{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    /*background: red;*/
}
.title-box > h3{
    font-size: 26px;
    font-weight: normal;
    padding-bottom: 4px;
}
.title-box .traced{
    width: 30px;
    height: 1px;
    margin: 0 auto;
    background-color: #000;
}
.title-box > p{
    padding-top: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #b7b3b3;
}
/*********** Header ***********/
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 12px 0;
    background-color: #54d154;
    /*border-bottom: 1px solid red;*/
    text-align: center;
    z-index: 999;
}
header  .logo{
    display: inline-block;
    width: 120px;
}
.logo > a{
    text-decoration: none;
    font-size: 26px;
    color: white; 
}
nav.menu-desktop{
    position: relative;
    top: 5px;
    float: left;
}
nav.menu-desktop ul{
    list-style-type: none;
}
nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 6px;
}
nav.menu-desktop ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: white;
}
/*******Section banner **********/
section.banner{
    position: relative;
    top: 50px;
    width: 100%;
    height: 100vh;
    max-height: 660px;
    text-align: center;
    background-image: url('../img/main-banner.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banner h2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 36px;
    font-family: montserrat;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgb(0,0,0);
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgb(0,0,0);
}
.banner button.call-action{
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 8px 40px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    background-color: #54d154;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    border: none;
}
nav.menu-mobile{
    display: none;
}
/* ****** SECTION services ****** */
section.services{
    position: relative;
    top: 0px;
    width: 100%;
    padding: 50px 2%;
    text-align: center;
    background-color: #ffffff;
}
.services > .container{
    background: blue;
    max-width: 1280px;
    text-align: center;
}
.services-single{
    display: inline-block;
    float: left;
    width: calc(100% / 3);
    max-width: 380px;
    min-width: 230px;
   /* padding: 0 4px;*/
    background-color: red;
}

.services-single .img-services-single > img{
    max-width: 150px;
    height: 150px;
   /* padding: 0 4px; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.services-single .services-description{
    text-align: center;
}
.services-single .services-description h2{
    padding: 8px 0;
    font-size: 22px;
    color: #828181;
    font-weight: bold;
    font-family: sans-serif;
}
.services-single .services-description p{
    font-size: 15px;
    color: #828181;
    /*padding: 0px 6px;*/
    line-height: 26px;
}
.services-single > input[type="submit"]{
    /*padding: 8px;*/
    width: 40%;
    margin-top: 8px;
    background-color: #54d154;
    border-radius: 16px;
    outline: none;
    border: none;
    color: white;
    font-weight: normal;
    font-size: 16px;
}
@media screen and (max-width: 768px){
    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
    }
    nav.menu-mobile h2{
        float: left;
        position: relative;
        top: -25px;
        left: 0;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }
    nav.menu-mobile ul{
        display: none;
        position: absolute;
        left: 2px;;
        top: 50px;
        list-style-type: none;
    }
    nav.menu-mobile ul li{
        padding: 6px 20px;
        margin: 8px 0;
        background-color: #74d974;
        border: 1px solid #CCC;
        text-align: left;
    }
    nav.menu-mobile ul li a{
        font-size: 18px;
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px 3px rgb(0,0,0);
    }
/* *********** SECTION Services ********* */
.services-single{
    width: 100%;
    display: block;
    margin: 20px auto;
}
}
